@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
	padding: 0;
	margin: 0;
	font-family: 'Droid Arabic Naskh', serif;
	direction: rtl;
}
body {
	background-color: #f1f1f1;
}
#wrapper {
	width: 1000px;
	margin: auto;
	background-color: white;
	box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.1), -5px 0px 7px 0px rgba(50, 50, 50, 0.1),  0px -5px 7px 0px rgba(50, 50, 50, 0.1), 0px 5px 7px 0px rgba(50, 50, 50, 0.1);
}
nav {
	background-color: #3465a4;
	height: 45px;
	width: 100%;
}
nav ul li {
	float: right;
	list-style-type: none;
	text-align: center;
}
nav ul li a {
	display: block;
	width: 130px;
	height: 40px;
	padding-top: 5px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover {
	background-color: #2d2d2d;
}
#navcenter {
	margin: auto;
	width: 700px;
}
#siteheader a {
	display: block;
	height: 200px;
	width: 100%;
	padding-top: 100px;
	color: black;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
}
#head {
	width: 950px;
	height: 350px;
	border: 1px solid #d4d4d4;
	margin: auto;
	margin-top: 40px;	
	margin-bottom: 40px;
	box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.1), -5px 0px 7px 0px rgba(50, 50, 50, 0.1),  0px -5px 7px 0px rgba(50, 50, 50, 0.1), 0px 5px 7px 0px rgba(50, 50, 50, 0.1);
}
#headimage {
	width: 900px;
	height: 300px;
	border: 1px solid #d4d4d4;
	margin: auto;
	margin-top: 23px;
}
#headimage h1 {
	text-align: center;
}
#aboutus {
	height: 400px;
	width: 100%;
}
.header {
	border-radius: 20px;
	width: 100%;
	height: 35px;
	color: white;
	background-color: #444444;
	text-align: center;
	clear: both;
}
.header a {
	display: block;
	width: 140px;
	height: 35px;
	text-decoration: none;
	color: white;
}
.header a:hover {
	background-color: #444444;
	border-radius: 20px;
}
.content {
	clear: both;
	width: 900px;
	margin: auto;
	border: 1px solid #d4d4d4;
	box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.1), -5px 0px 7px 0px rgba(50, 50, 50, 0.1),  0px -5px 7px 0px rgba(50, 50, 50, 0.1), 0px 5px 7px 0px rgba(50, 50, 50, 0.1);
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content h3, .content p {
	padding-right: 20px;
}
.show {
	width: 228px;
	height: 400px;
	background-color: #ffffff;
	float: right;
	margin: 10px;
	border: 1px solid #d4d4d4;
	box-shadow: 5px 0px 7px 0px rgba(50, 50, 50, 0.1), -5px 0px 7px 0px rgba(50, 50, 50, 0.1),  0px -5px 7px 0px rgba(50, 50, 50, 0.1), 0px 5px 7px 0px rgba(50, 50, 50, 0.1);
}
.show ul li {
	padding: 5px;
	list-style-type: none;
}
.show ul li h3 {
	text-align: center;
}
.show ul li:hover {
	background-color: #eaeaea;
}
.frame {
	height: 156px;
	width: 210px;
	background-color: #444444;
	float: right;
	margin: 9px;
}
.social {
	float: right;
	text-align: center;
	width: 211px;
}
footer {
	clear: both;
	background-color: #444444;
	color: white;
	text-align: center;
}
footer {
	color: white;
}
footer a {
	color: white;
}
.show p, .show h3 {
	text-align: center;
}
.show a {
	color: black;
}
#attachment img {
	margin-right: 100px;
	width: 700px;
}
#aboutus header {
	background-color: #444444;
}
#terms header {
	background-color: #b90100;
}
#why header {
	background-color: #007bb7;
}
#location header {
	background-color: #41314e;
}
#followus header {
	background-color: #3ec491;
}
